.hide {
	display: none;
}

.btn-file {
	padding-top:11px;
	padding-bottom:8px;
}
.fileinput-remove-button {
	padding-top:11px;
	padding-bottom:8px;
}
/*.card-block {
    min-height: 240px;
}*/

.loader {
	overflow-x:hidden;
	overflow-y:auto;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1060;
	transition: opacity .15s linear;
	background: rgba(250,250,250,0.7);
}

.loader-content {
	margin:auto;
	position:absolute;
	top:40%;
	left:50%;
	color:white
}

.btn-default {
    color: #373a3c;
    background-color: #fff;
    border-color: #818a91;
}
.dropdown-menu li {
    display: block;
    width: 100%;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    color: #373a3c;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0;
}

.dropdown-menu li a {
	color: #373a3c;
}